html {
	box-sizing: border-box;
	background-image: url(images/bg.jpg);
	background-size: cover; 
	background-repeat: no-repeat;

}

.wrapper {
	width: 100%;
	max-width: 1000px;
	display: block;
	margin: auto;

}

.mainimage {
	width: 974px;
	height: 350px;
	border: 10px solid white;
	background-image: url(images/top-image.png);
	background-size: 1330px;
	background-repeat: no-repeat;
	clear: left;
	margin-left: 118px;

}

.mainimage img{
	margin-top: 50px;
	margin-left: 25px;
}

.column {
	background-color: white;
	display: inline-block;
	width: 325px;
	height: 350px;
	clear: both;
	margin-left: 5px;
	margin-top: 50px

}

#s8ernews {
	margin-left: 112px;

}

div.socialmedia {
	float: right;
	width: 60px;
	height: 60px;
	margin: 10px 5px;
	border-bottom: 5px solid rgba(132,131,129,0.75);

}

#facebook {
	background-image: url(images/facebook-logo-png-white-i6.png);
	background-position: 50% center;
	background-size: 70%;
	background-repeat: no-repeat;
}

#rssfeed {
	background-image: url(images/rss-feed-white-md.png);
	background-position: 60% center;
	background-size: 50%;
	background-repeat: no-repeat;
}

#twitter {
	background-image: url(images/twitterLogo.png);
	background-position: 50% center;
	background-size: 50%;
	background-repeat: no-repeat;
}

#youtube {
	background-image: url(images/youtube-2048.png);
	background-position: 50% center;
	background-size: 100%;
	background-repeat: no-repeat;
}

ul {
	list-style-type: none;
	float: left;
	width: 100%;
	padding:0;
	margin: 0;


}

.navbuttons {
	background-color: #B4292E;
	width: 218px;
	height: 10px;
	margin: 20px 5px 20px 5px;
	display: inline-block;
	text-align: center;
	padding: 15px 10px 20px 10px;
	font-size: 16px;
	color: white;
	font-family: Helvetica;
	font-weight: normal; 
	border-bottom: 5px solid rgba(132,131,129,0.75);

}

.navbuttons:hover {
	background-color: white;
	width: 218px;
	height: 10px;
	margin: 20px 5px 20px 5px;
	display: inline-block;
	text-align: center;
	padding: 15px 10px 20px 10px;
	font-size: 16px;
	color: #B4292E;
	font-family: Helvetica;
	font-weight: normal; 
	border-bottom: 5px solid rgba(132,131,129,0.75);

}
.navbuttons:first-child {
	margin-left: 0px;


}

.navbuttons:last-child {
	margin-right: 0px;
	

}
#subscribe {
	float: right;
	margin: 30px 80px;
	font-size: 16px;
	font-family: Tahoma;
	color: white;
	padding: 5px;
}








