html {
	box-sizing: border-box;
	background-image: url(images/bg.jpg);
	background-size: cover; 
	background-repeat: no-repeat;

}

*, *:after, *:before {
	box-sizing:inherit;
}

.wrapper {
	width: 100%;
	max-width: 1000px;
	display: block;
	margin: auto;

}

.mainimage {
	width: 974px;
	height: 350px;
	border: 10px solid white;
	background-image: url(images/top-image.png);
	background-size: 1330px;
	background-repeat: no-repeat;
	clear: left;
	margin-left: 118px;

}

.mainimage img{
	margin-top: 50px;
	margin-left: 25px;
}

.column {
	background-color: white;
	float: left;
	width: 330px;
	height: 370px;
	margin-left: 10px;
	margin-top: 50px


}

#s8ernews {
	margin-left: 92px;

}

#header {
	font-family: Gill Sans, Helvetica Neue, sans-serif;
	font-weight: normal;
	color: #363731;
	font-size: 24px;
	margin: 25px 25px;
	text-indent: inherit;
	text-align: left;
	text-indent: none;
	margin-top: 10px;

}

#date {
	font-family: Gill Sans, Helvetica Neue, sans-serif;
	font-weight: normal;
	color: #BBBBBB;
	font-size: 14px;
	margin: -20px 15px 15px 25px;
}

#textbody {
	font-family: Helvetica Neue, sans-serif;
	font-weight: normal;
	color: #6B6B6B;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	margin-left: 25px;
	margin-right: 30px;
	margin-bottom: -10px;

}

#readmore {
	font-weight: bold;
	color: #B23842;
	text-align: center;
	width:100%;
	font-family: Futura, Helvetica Neue;
	margin-bottom: 80px;

}

#container {
  text-align:center;
  width:1035px;
  margin:50px auto;
  clear: both;
}

li {
	list-style-type: none;
}

#threeimgs { 
	width: 65%;
    display: inline-block;
    float: left;
}
.mountain {
	width: 301px;
    height: 222px;
    background: url(images/sk8er-4.png) no-repeat 100% 100%;
    display: inline;
    float: left;
    border: 5px solid white;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: Arial Black, Gadget, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
}

.mullen {
	width: 313px;
    height: 222px;
    background: url(images/sk8er-3.png) no-repeat;
    display: block;
    border: 5px solid white;
    float: left;
    margin-bottom: 10px;
    font-family: Arial Black, Gadget, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;

}

.caballero {
	display: block;
    width: 624px;
    height: 250px;
    background: url(images/sk8er-1.png) no-repeat;
    clear: both;
    border: 5px solid white;
    font-family: Arial Black, Gadget, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
    background-position-y: -61px;

}

#guerrero {
	width: 337px;
    height: 482px;
    display: inline-block;
    background: url(images/sk8er-2.png) no-repeat;
    background-position: -391px;
    border: 5px solid white;
    clear: both;
    font-family: Arial Black, Gadget, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;

} 

.skatername1 {
	margin-top: 50px;
}

.skatername2 {
	margin-top: 70px;
}

.skatername3 {
	margin-top: 120px;
}

#fullcollage {
    clear: both;
    margin: 0 auto;
    width: 79%;
    height: 100%;
    padding: 15px 0px;
}

div.socialmedia {
	float: right;
	width: 60px;
	height: 60px;
	margin: 10px 5px;
	border-bottom: 5px solid rgba(132,131,129,0.75);

}

#facebook {
	background-image: url(images/facebook-logo-png-white-i6.png);
	background-position: 50% center;
	background-size: 70%;
	background-repeat: no-repeat;
}

#rssfeed {
	background-image: url(images/rss-feed-white-md.png);
	background-position: 60% center;
	background-size: 50%;
	background-repeat: no-repeat;
}

#twitter {
	background-image: url(images/twitterLogo.png);
	background-position: 50% center;
	background-size: 50%;
	background-repeat: no-repeat;
}

#youtube {
	background-image: url(images/youtube-2048.png);
	background-position: 50% center;
	background-size: 100%;
	background-repeat: no-repeat;
}

ul {
	list-style-type: none;
	float: left;
	width: 100%;
	padding:0;
	margin: 0;


}

.navbuttons {
	background-color: #B4292E;
	width: 233px;
	height: 10px;
	margin: 25px 5px 20px 5px;
	display: inline-block;
	text-align: center;
	padding: 10px 10px 20px 10px;
	font-size: 16px;
	color: white;
	font-family: Helvetica;
	font-weight: normal; 
	border-bottom: 5px solid rgba(132,131,129,0.75);

}

.navbuttons:hover {
	background-color: white;
	width: 233px;
	height: 10px;
	margin: 25px 5px 20px 5px;
	display: inline-block;
	text-align: center;
	padding: 10px 10px 20px 10px;
	font-size: 16px;
	color: #B4292E;
	font-family: Helvetica;
	font-weight: normal; 
	border-bottom: 5px solid rgba(132,131,129,0.75);

}
.navbuttons:first-child {
	margin-left: 0px;


}

.navbuttons:last-child {
	margin-right: 0px;
	

}

#subscribe {
	float: right;
	margin: 30px 80px;
	font-size: 16px;
	font-family: Tahoma;
	color: white;
	padding: 5px;
}

#skateboardimages {
	background-color: white;
    width: 971px;
    height: 270px;
    margin-left: 130px;
    float: center;
}

#skateboards > li {
	display: inline;
	margin: 10px;
	float: center;
}

#skateboards {
	padding-left: 50px;
}

.column_contact {
	width: 50%;
	height: 350px;
	float: left;
}

.column_contact:nth-child(2) {
	width: 50%;
	height: 350px;
	float: right;
	margin-top: 25px;
	margin-left: 0px;
	justify-content: right;
	padding-left: 50px;
}

#contact {
	width: 971px;
	height: 350px;
	background-color: white;
	clear: both;
	margin-left: 129px;
	margin-top: 40px;
	padding-top: 10px;
}

.socialmediafooter {
	float: left;
	width: 30px;
	height: 30px;
	margin: 5px -20px 0px 25px;
	border-bottom: 1px solid rgba(132,131,129,0.75);
}

#contactheading {
	font-family: Futura, sans-serif;
	font-size: 26px;
	color: #393A35;
	margin: 25px;

}

#contactbody {
	font-family: Tahoma, sans-serif;
	margin: 25px;
	color: #5F5F5F;
	line-height: 25px;
}

button {
	background-color: #B4292E;
	width: 250px;
	height: 10px;
	margin: 25px 5px 10px 150px;
	display: block;
	text-align: center;
	padding: 5px 10px 30px 10px;
	font-size: 20px;
	color: white;
	font-family: Futura;
	font-weight: normal; 

}

input {
	color: #C2C2C2;
	border-left: 3px solid #ABABAB;
	border-top: 3px solid #ABABAB;
	font-family: Futura;
	font-size: 18px;
	margin-bottom: 5px;
	width: 400px;
	margin-top: 10px;

}

textarea {
	color: #C2C2C2;
	border-left: 3px solid #ABABAB;
	border-top: 3px solid #ABABAB;
	font-family: Futura;
	color: #C2C2C2;
	border-left: 3px solid #ABABAB;
	border-top: 3px solid #ABABAB;
	font-family: Futura;
	font-size: 18px;
	margin-top: 5px;
	width: 400px;
}


